@{
    ViewData["Title"] = "Opinia";
    int orderId = ViewBag.OrderId;
}

@section Styles {
    <link rel="stylesheet" href="~/css/Review.css" />
}
<h2>Wystaw opinię dla zlecenia #@orderId</h2>

<form asp-action="Create" asp-route-orderId="@orderId" method="post">
    <div class="container d-flex justify-content-center mt-200">
        <div class="row">
            <div class="col-md-12">
                <div class="stars">
                    <input class="star star-5" id="star-5" type="radio" name="rating" value="5" />
                    <label class="star star-5" for="star-5"></label>

                    <input class="star star-4" id="star-4" type="radio" name="rating" value="4" />
                    <label class="star star-4" for="star-4"></label>

                    <input class="star star-3" id="star-3" type="radio" name="rating" value="3" />
                    <label class="star star-3" for="star-3"></label>

                    <input class="star star-2" id="star-2" type="radio" name="rating" value="2" />
                    <label class="star star-2" for="star-2"></label>

                    <input class="star star-1" id="star-1" type="radio" name="rating" value="1" />
                    <label class="star star-1" for="star-1"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Komentarz (opcjonalnie)</label>
        <textarea name="comment" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Wyślij</button>
    <a asp-controller="Orders" asp-action="Details"
       asp-route-id="@orderId" class="btn btn-secondary">Anuluj</a>
</form>
