@model dynamic

<p>Cześć!</p>
<p>Dziękujemy za rejestrację w <strong>CleanDeal</strong>. Aby aktywować swoje konto, kliknij w poniższy link:</p>
<p><a href="@Model.ConfirmUrl">Aktywuj konto</a></p>
<p>Pozdrawiamy,<br />Zespół CleanDeal</p>