@model CleanDeal.Models.CleaningOrder
<p>Przypomnienie 🔔</p>
<p>Jutro o @Model.Date.ToString("HH:mm") odbędzie się sprzątanie pod adresem <strong>@Model.Address</strong>.</p>
<p>Jeśli potrzebujesz zmienić termin albo masz dodatkowe uwagi, napisz do nas przez czat w aplikacji.</p>
<p>Do zobaczenia!</p>