@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>Polityka prywatności</h1>
<p>
    Twoje dane osobowe są przetwarzane wyłącznie w celu realizacji zamówień oraz obsługi płatności.
    Nie udostępniamy ich podmiotom trzecim bez Twojej wyraźnej zgody.
</p>
